<div class="addArticle">
    <form name="myForm" class="form-group">
        <div class="title row">{{add.titleA}}</div>
        <div class="includeTable row ">
            <div class="row">
                <span class="col-md-2 col-sm-2 col-xs-4">标题名称</span>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <input class="form-control" ng-model="add.title" type="text" required>
                </div>
            </div>
            <div class="row">
                <span class="col-md-2 col-sm-2 col-xs-4">类&emsp;&emsp;型</span>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <select class="form-control"
                            ng-model="add.currentType"
                            ng-options="y.name for (x,y) in add.Types"
                            required>
                        <option value="">请选择</option>
                    </select>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <select class="form-control"
                            ng-show="add.currentType.type===3"
                            ng-model="add.industry"
                            ng-required="add.currentType.type===3">
                        <!--<option value="">请选择</option>-->
                        <option ng-repeat="(x,y) in add.Industry"
                                value="{{x}}"
                                ng-selected="add.industry == x">{{y}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <span class="col-md-2 col-xs-4">说&emsp;&emsp;明</span>
                <div class="ueditor col-md-8 col-xs-12" ng-model="add.content" type="text"></div>
                <!--<script id="ueContainer" name="ueContainer" type="text/javascript"></script>-->
            </div>
            <div class="row">
                <span class="col-md-2 col-xs-4">跳转链接</span>
                <div class="col-md-8 col-xs-12">
                    <input id="myEditor" class="form-control" ng-model="add.url" type="text" required>
                </div>
            </div>
            <up-load img="add.img"></up-load>
            <div class="row newThree">
                <div class="col-md-8 col-xs-12 col-md-offset-2">
                    <button class="btn btn-success"
                            ng-click="add.online()"
                            ng-disabled="myForm.$invalid||add.img===undefined">立即上线</button>
                    <button class="btn btn-success"
                            ng-click="add.sketch()"
                            ng-disabled="myForm.$invalid||add.img===undefined">存为草稿</button>
                    <button class="btn btn-default pull-right" ng-click="add.cancel()">取消</button>
                </div>
            </div>
        </div>
    </form>
</div>