/*右边的变化区域*/

/*搜索框*/
.companySearch {
    background: #fdfdfd;
    border: 1px solid #e6e6e6;
    padding: .2rem;
    margin-bottom: .2rem;
    font-size: 14px;
}
.companySearch input{
    margin: .1rem 0;
}
.companySearch select{
    font-size: 18px;
}
.companySearch span {
    font-weight: 600;
}
.companySearch select option {
    height: .4rem;
    width: 20% !important;
    border: none;
    line-height: .4rem;
    font-size: 20px;
}
.companySearch .bottomRow {
    flex-direction: row-reverse;
}
.bottomRow a,
.bottomRow a:hover {
    margin: .05rem;
    color: #fff;
    text-decoration: none;
}
/*列表主体*/
.companyDetail {
    width: 100%;
    /*table-layout: fixed;*/
}
.companyDetail .th {
    font-weight: 600;
}
.companyList {
    border: 1px solid #e0e0e0;
}
.listHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .1rem;
    background: #f5f5f5;
    font-weight: 600;
}
.listHeader button {
    border: none;
    outline: none;
}
.tableSurface {
    padding: .15rem;
    background: #fff;
}
.tableSurface table {
    border: 1px solid #d7d7d7;
}
table th,
table td{
    text-align: center;
    line-height: .4rem;
    font-size: 14px!important;
}
.threeBtn {
    display: flex;
    justify-content: space-evenly;
    min-width: 7em;
}
.threeBtn a,
.threeBtn a:hover {
    color: #3379b6;
    text-decoration: none;
}
.pageModel {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 14px;
}
.bottomInput {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
}
.bottomInput input {
    width: 50px;
    line-height: 28px;
}